body {
    line-height: 1.5;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1 {
    @include text-hide;
    background-image: url(https://github.com/0404kai/week7/blob/master/images/layout/logo.png?raw=true);
    background-repeat: no-repeat;
    width: 128px;
    margin-top: 9px;
    margin-bottom: 0;
    position: relative;
    z-index: 9999;
}
.shopping-car {
    position: relative;
    .number {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: block;
        text-align: center;
        font-size: 12px;
        width: 16px;
        height: 13px;
        line-height: 1;
        color: #fff;
        background-color: #916000;
        border: 1px solid #916000;
        border-radius: 7px;
    }
}
.nav-item {
    margin-right: 32px;
    &:last-child {
        margin-right: 0px;
    }
    @include PC {
        margin-right: 24px;
    }
    img {
        padding-right: 4px;
    }
    p {
        font-family: "SF Pro Text", Regular, serif;
        font-size: $font-size-md;
    }
    a {
        text-decoration: none;
    }
}
.card {
    border: none;
}
.bg-header {
    background-image: url(https://github.com/0404kai/week7/blob/master/images/layout/bg-footer-bottom.png?raw=true);
    height: 52px;
    ul {
        li {
            margin-right: 28px;
            a {
                color: $white;
            }
        }
    }
}

.navbar {
    position: relative;
}

.navbar-toggler {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    align-items: center;
    max-height: 0px;
}

.navbar .active {
    max-height: 300px;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #3f5d45;
    font-weight: bold;
    padding: 0 30px;
    display: block;
}

.navbar-link {
    padding-left: 30px;
}

@media (max-width: 767px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    .navbar-nav {
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        transition: all 0.8s;
        overflow: hidden;
        background: white;
        flex-direction: column;
        z-index: 9999;
    }

    .nav-link {
        padding: 10px 0;
        text-align: center;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item:hover {
        background-color: #eaf0ed;
    }

    .navbar-link {
        padding-left: 0;
    }
}

.pos {
    position: absolute;
    top: 0;
    width: 100%;
}
